{
  "presets": [
      "next/babel"
  ],
  "plugins": [
      "transform-flow-strip-types",
      "styled-jsx/babel"
  ],
  "env":{
    "test": {
      "presets": [
        [
          "next/babel",
          {
            "preset-env": {
              "modules": "commonjs"
            }
          }
        ]
      ]
    },
    "testing": {
      "presets": [
        [
          "next/babel",
          {
            "preset-env": {
              "modules": "commonjs"
            }
          }
        ]
      ]
    }
  }
}
